{
  "env": {
    "development": {
      "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-2"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react",
        "stage-2"
      ]
    }
  }
}
