# editorconfig.org
root = true

# For every file in root directory
[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown in root directory
[*.md]
trim_trailing_whitespace = false

# PHP files in the whole project
[**.php]
indent_style = space
indent_size = 2

# JS files in the whole project
[**.{js,json}]
indent_style = space
indent_size = 2

# SCSS, CSS files in the whole project
[**.{scss,css}]
indent_style = space
indent_size = 2

# EJS files in the whole project
[**.ejs]
indent_style = space
indent_size = 2
