examples/
src/
scripts/
.github/
api/
# This is the "dumping" space for all kinds of generator.
out/

*.log
.travis.yml
.babelrc
Makefile
tsconfig*
.storybook
.prettierrc.json
setupTests.ts
jest.config.js
typedoc.json
