node_modules/
.gulp-scss-cache/
npm-debug.log
*.orig
stats.json
*.log
storybook-static/

examples/
src/
README.md
CHANGELOG.md
LICENSE
Makefile
.travis.yml
.storybook
.editorconfig
.eslintignore
.eslintrc.json
.tsconfig.json
.prettierrc
