.devcontainer/
.github/
.storybook/
.swc/
.yarn/
api/
docs/
examples/
scripts/
src/
# This is the "dumping" space for all kinds of generator.
out/

*.log
.travis.yml
.babelrc
tsconfig*
.prettierrc.json
setupTests.ts
jest.config.*
typedoc.json

# Markdowns.
MIGRATION_GUIDE.md
