html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table-datatable__root .thead-th.sortable:hover {
  background: #eaeaea;
  cursor: pointer;
}

.controlRow__root {
  margin-bottom: 15px;
}

.controlRow__root .paginationOpts__root {
  justify-content: center;
}
